.gameContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.hangmanSection{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem
}